body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

/*Header starts from here... */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #d4aeae;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /*margin-bottom: 0;*/
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo {
    font-size: 1.8rem;
    color: #000000;
    font-weight: lighter;
    text-decoration: none;
    margin-left: -14.4px;
}

.light-text {
    color: #413c3c;
}

.dark-text {
    color: #000000;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    /* remove bullet points*/
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    /* Adding smootheness*/
}

#navbar li a:hover,
#navbar li a.active {
    color: #946e8b;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    /* add purple line when mouse pointer is on it */
    content: "";
    width: 30%;
    height: 2px;
    background: #793268;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Start of the question1.. */

#question1 {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

#container {
    background-color: #F6E8E8;
    display: inline-block;
    padding: 20px 5px;
    text-align: left;
    width: 75%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
}

.image-column {
    flex: 1;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.image-column img {
    max-width: 100%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 20px;
}


.text-column {
    flex: 1;
    padding-left: 30px;
}

h2 {
    font-size: 28px;
    color: #171112;
    margin-bottom: 10px;
    margin-top: 80px;
}

p {
    font-size: 18px;
    color: #393a42;
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 10px;
}

form {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #707070;
}

label {
    width: 40%;
}

input,
select {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    color: #1A2E35;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 30px;
    display: flex;
    justify-content: space-between;
}

#backBtn,
#nextBtn {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    /* border-radius to make buttons round */
    cursor: pointer;
}

#backBtn:hover,
#nextBtn:hover {
    background-color: #1A1717;
}

/* Start of question2.. */

#question2 {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.question-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.oval-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oval-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 110px;
}

.oval {
    background-color: #F1DBDB;
    color: #171112;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.oval:hover {
    background-color: #EFB3B3;
}

.oval-centered {
    margin-left: auto;
    margin-right: auto;
}

.oval.selected {
    background-color: #EFB3B3 !important;
}

.buttons {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 30px;
    display: flex;
    justify-content: space-between;
}

#backBtn2,
#nextBtn2 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    /* border-radius to make buttons round */
    cursor: pointer;
}

#backBtn2:hover,
#nextBtn2:hover {
    background-color: #1A1717;
}

/* Start of question3.. */

#question3 
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.heading {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 10px;
}

.measurements-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

p.size-chart-link {
    text-align: right;
    padding-right: 30px;
    font-size: 15px;
}

p.measurements-info {
    color: #707070;
    font-size: 18px;
}

#backBtn3, 
#nextBtn3 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn3:hover, 
#nextBtn3:hover{
    background-color: #1A1717;
}

/* Start of question4.. */

#question4 
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

#backBtn4, 
#nextBtn4 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn4:hover, 
#nextBtn4:hover{
    background-color: #1A1717;
}

/* Start of question5.. */

#question5
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.color-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

p.color-info {
    color: #707070;
    font-size: 18px;
}

.text-column span{
    color: #707070;
    font-size: 18px;
    text-decoration: underline;
}

#backBtn5, 
#nextBtn5 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn5:hover, 
#nextBtn5:hover{
    background-color: #1A1717;
}

/* Start of question6.. */

#question6
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.skin-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

#backBtn6, 
#nextBtn6 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn6:hover, 
#nextBtn6:hover{
    background-color: #1A1717;
}

/* Start of question7.. */

#question7
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.occasion-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

#backBtn7, 
#nextBtn7 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn7:hover, 
#nextBtn7:hover{
    background-color: #1A1717;
}

/* Start of question8.. */

/*#question8
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.styel-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

#backBtn8, 
#nextBtn8 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn8:hover, 
#nextBtn8:hover{
    background-color: #1A1717;
} */

/* Start of question9.. */

#question9
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.fabric-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

#backBtn9, 
#nextBtn9 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn9:hover, 
#nextBtn9:hover{
    background-color: #1A1717;
}

/* Start of question10.. */

#question10
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.instruction-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

h4 {
    color: #707070;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

p.paragraph {
    font-size: 18px;
    color: #707070;
    line-height: 1.5;
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 50px;
    text-align: justify;
}

#backBtn10, 
#nextBtn10 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn10:hover, 
#nextBtn10:hover{
    background-color: #1A1717;
}

/* Start of question11.. */

#question11
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.type-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

.image-column img {
    max-width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 80px;
}

#backBtn11, 
#nextBtn11 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn11:hover, 
#nextBtn11:hover{
    background-color: #1A1717;
}

/* Start of question12.. */

#question12
{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.sportstype-heading {
    color: #171112;
    font-size: 30px;
    font-weight: bold;
}

#backBtn12, 
#nextBtn12 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn12:hover, 
#nextBtn12:hover{
    background-color: #1A1717;
}


/* Start of loading.. */

#loading {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contentload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loading-icon {
    width: 100px;
    height: 100px;
    margin-top: 10%;
    border-radius: 50%;
    border: 4px solid #1A2E35;
    animation: loadingAnimation 1s infinite;
    position: relative;
  }
  
  .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #1A2E35;
  }
  
  .para {
    color: #707070;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    line-height: 1.5;
  }
  
  .para span {
    display: inline-block;
    color: #707070;
    font-size: 20px;
    margin-top: 30px;
    align-items: center;
  }
  
  @keyframes loadingAnimation {
    0% {
      transform: rotate(0deg);
      border-color: #1A2E35;
    }
    50% {
      transform: rotate(180deg);
      border-color: #F6E8E8;
    }
    100% {
      transform: rotate(360deg);
      border-color: #1A2E35;
    }
  }




/*.checkbox-row1,
.checkbox-row2,
.checkbox-row3 {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 40px;
}

.checkbox-row1 label, 
.checkbox-row2 label,
.checkbox-row3 label{
    display: flex;
    align-items: center;
    padding: 0 60px;
    width: 25%;
    color: #707070;
    box-sizing: border-box;
    font-size: 16px;
}

.checkbox-row1 input[type="checkbox"],
.checkbox-row2 input[type="checkbox"],
.checkbox-row3 input[type="checkbox"] {
    margin-right: 10px;
    width: 15px; 
    height: 15px; 
}

.checkbox-row4 {
    display: flex;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 40px;
}

.checkbox-row4 label {
    display: flex;
    padding: 0 60px;
    width: 25%;
    color: #707070;
    box-sizing: border-box;
    font-size: 16px;
}

.checkbox-row4 input[type="checkbox"] {
    margin-right: 10px;
    width: 15px; 
    height: 15px; 
}

#backBtn11, 
#nextBtn11 {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2E2829;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#backBtn11:hover, 
#nextBtn11:hover{
    background-color: #1A1717;
}

.checkbox-row5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    margin-right: 60px;
    margin-top: 40px;
}

.checkbox-row5 label {
    display: flex;
    align-items: center;
    width: 25%;
    box-sizing: border-box;
    font-size: 16px;
    color: #707070;
    white-space: nowrap; /* Prevent line break 
}

.checkbox-row5 input[type="checkbox"] {
    margin-right: 10px;
    width: 15px; 
    height: 15px; 
} */









/* Start of footer.. */

.section-p1 {
    background: #F6E8E8;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
}

.col {
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.col .logo {
    font-size: 1.8rem;
    color: #000000;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 90px;

}

.col .logo .light-text,
.col .logo .dark-text {
    display: inline-block;
    margin-top: 70px;
}


.section-p1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #272525;
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 90px;
}

.col h4 {
    font-size: 1.2rem;
    color: #1b1919;
    margin-bottom: 10px;
    margin-left: 90px;
}

.col .follow .icon {
    margin-top: 20px;
    margin-left: 90px;
}

.col .follow .icon i {
    font-size: 24px;
    margin-right: 10px;
    color: #5f5050;

}

.col .follow .icon i:hover {
    color: #000000;
}

.col-main h4,
.col-two h4 {
    position: relative;
    font-size: 1.3rem;
    color: #1b1919;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-top: 75px;
}

.col-main h4::before,
.col-two h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: #b466a2;
}

.col-main ul,
.col-two ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.col-main ul li::not(:last-child),
.col-two ul li::not(:last-child) {
    margin-bottom: 15px;
}

.col-main ul li a,
.col-two ul li a {
    text-decoration: none;
    color: #5a5757;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 90px;
    line-height: 1.7;
}

.col-main ul li a:hover,
.col-two ul li a:hover {
    color: #000000;
}

.col-three p {
    position: relative;
    font-size: 15px;
    color: #1b1919;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-top: 75px;
    margin-right: 30px;
    text-align: justify;
}